* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#f7f3f3;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: 'Quicksand', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    overflow: hidden;
}

.tabs, .header {
	background: #ffffff;
	width: 100%;
	height: 55px;
	padding: 0;
	position: relative;
	box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	padding: 0 15px;
	box-sizing: border-box;
}

.tabs label {
	width: 36px;
	height: 36px;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tabs label::before {
	content: "";
	height: 4px;
	width: 4px;
	border-radius: 0% 100% 50% 50% / 0% 50% 50% 100%;
	transform: scale(1, 1) rotate(45deg);
	transform-origin: 50% 50%;
	background: #725afc;
	display: block;
	position: absolute;
	top: -40px;
}

.tabs label svg {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.tabs label svg .icon {
    fill: #c9cbd5;
}

.tabs label svg .icon-border {
	fill: #ffffff;
	opacity: 0;
}

.tabs label svg .icon-fill {
	opacity: 0;
}

.tabs input {
	display: none;
}

.tabs input:checked + label::before {
	animation: drop-animation 0.35s ease-in both;
}

.tabs input:checked + label svg {
	animation: stretch-animation 0.5s ease-out 0.3s;
}

.tabs input:checked + label svg .icon-border {
	animation: clip-animation-border 0.5s ease 0.3s forwards;
}

.tabs input:checked + label svg .icon-fill {
	animation: clip-animation 0.5s ease 0.3s forwards;
}

@keyframes stretch-animation {
	25% {
		transform: scale3d(0.9, 1.2, 1);
		margin-top: 10px;
	}

	75% {
		transform: scale3d(1.1, 0.95, 1);
	}
}

@keyframes drop-animation {
	70% {
		transform: scale(1, 2) rotate(45deg);
		top: -7px;
	}

	100% {
		transform: scale(1.5, 0.5) rotate(45deg);
		top: 7px;
	}
}

@keyframes clip-animation {
	from {
		opacity: 1;
		clip-path: circle(0% at 50% -20%);
	}

	to {
		opacity: 1;
		clip-path: circle(110% at top);
	}
}

@keyframes clip-animation-border {
	from {
		opacity: 1;
		clip-path: circle(20% at 50% -20%);
	}

	to {
		opacity: 1;
		clip-path: circle(130% at top);
	}
}

.swiper-container {
    width: 100%;
    height: calc(100vh - 55px) !important;
}

.swiper-slide {
	width: calc(100% - 1.2rem) !important;
	height: calc(100vh - 55px - 1rem) !important;
	padding: 0.6rem;
	padding-top: 1rem;
	overflow-x: hidden;
    overflow-y: scroll !important;
}

.swiper-view {
	font-size: 16px;
	width: 100% !important;
}

.add-button {
	display: block;
	background-color: white;
	border-radius: 50%;
	width: 16%;
	height: 16vw;
	position: absolute;
	bottom: 30px;
	right: 30px;
	outline: none;
	border: none;
	box-shadow: 0px 0px 11px -4px rgba(65,72,86,1);
	z-index: 2;
}

.add-button svg {
	width: 70%;
	height: 70%;
	padding: 15%;
	fill: #1b7ced;
}
	
.grid {
	display: flex;
	flex-direction: row;
	max-width: 1200px;
	justify-content: space-between;
}

.grid-col {
	width: 49.5%;
}
  
.grid-item {
	width: 100%;
	height: auto;
	display: block;
	overflow: auto;
	position: relative;
}

.content {
	position: absolute;
	background: rgba(0,0,0,.2);
	color: white;
	margin-top: 1em;
	font-size: 1em;
	margin: .2em .2em;
	top: 0;
	left: 0;
}

.grid-item img{
	width: 100% !important;
	height: auto;
}

.profile-card {
    width: 100%;
    background: #FDFEFF;
    -webkit-transition: background .6s ease;
    transition: background .6s ease;
	border-radius: 10px;
	padding-top: 20px;
  }
  .profile-card .profile {
    position: relative;
  }
  .profile-card .profile:after {
    width: 100%;
    height: 1px;
    content: ' ';
    display: block;
    margin-top: 1.3em;
    background: #E9EFF6;
  }
  .profile-card .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: -webkit-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 15px 30px rgba(65, 72, 86, 0.05);
  }
  .profile-card .profile .name {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  .profile-card .profile .description {
    color: #080911;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.3em;
  }
  .setting-item {
	  width: 100%;
	  height: 8vh;
	  background-color: white;
	  border-radius: 10px;
	  border: none;
	  outline: none;
	  box-shadow: 0 15px 30px rgba(65, 72, 86, 0.05);
	  margin-top: 5px;
	  display: flex;
	  align-items: center;
	  font-family: "Quicksand", sans-serif;
	  font-size: 15px;
  }

  .setting-item svg {
	  margin-left: 1rem;
	  margin-right: 1rem;
  }

  .list-item {
	  width: 100%;
	  height: 20vh;
	  border-radius: 1rem;
	  background: white;
	  box-shadow: 0 15px 30px rgba(65, 72, 86, 0.05);
	  margin-bottom: .5rem;
  }

  .item-header {
	  width: calc(100% - 1rem);
	  height: 35%;
	  opacity: .5;
	  border-top-left-radius: 1rem;
	  border-top-right-radius: 1rem;
	  background: blue;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  line-height: 35%;
	  padding-left: .5rem;
	  padding-right: .5rem;
  }

  .item-header i {
	display:inline-block;
    font-size: 25px;
    line-height: 35px;
    color:white;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: bottom;
  }

  .item-header label {
	font-size: 13px;
	color:white;
  }

  .item-body {
	width: 100%;
	height: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  }

  .item-tool {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .item-public-header {
	width: 100%;
	height: 50%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	display: flex;
	align-items: center;
	font-size: 13px;
	box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  }

  .item-public-body {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .item-public-avatar {
	width: 17%;
	border-radius: 50%;
	margin-left: 5px;
  }

  .cut-text {
	width: calc(100% - 2rem);
	padding-left: 1rem;
	padding-right: 1rem;
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
  }

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .5s, opacity .5s linear;
}

.appear {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s linear;
}

.custom-select {
	margin-left: 1rem;
	border-radius: 2px;
	outline: none;
	border: none;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	background-color: white;
}